*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.messageRecieverCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 3rem; */
    height: auto;
    /* border: 1px solid black; */
    margin-top: 5px;
    margin-bottom: 5px;
}
.left{
    width: 10%;
    height: 80%;
    border-radius: 100px;
    /* background-color: rgb(96, 94, 94); */
    /* border: 2px solid blue; */
}
.right{
    width: 60%;
    height: 100%;
    margin-left: 8px;
    background-color: #d2d3d5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}